.items {
  padding: 5px;
}
.item {
  padding: 15px;
  background-color: var(--uiColor);
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.item:hover {
  transform: translateY(-5px);
}
.item svg rect {
  fill: #ffffff;
}